/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 0;
  padding-bottom: 0;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {width: 44%; left: 10%; top:0; bottom:0;  z-index: 10; text-align: left; padding-top:0;}
.carousel-caption-div {
    position: relative;
    top: 40%;/*33%;*/
    -webkit-transform: translateY(-33%);
    -ms-transform: translateY(-33%);
    transform: translateY(-33%);	
	padding:2%;
	border-radius: 20px;
}

.carousel-caption-div-header {font-size:103px; color:#000; font-family: 'Dawning of a New Day', cursive; line-height: 0.8; height: 220px;}
.carousel-caption-div p {font-size:29px; color:#000; font-weight: 500;}
.carousel-caption-div-header div:first-child {
    background: url(../../images/site/highlighter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function:linear;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 1900px;
  background-color: #fff;  	
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 1900px;
}

.carousel-inner .carousel-item { height: 842px;}
.carousel-inner .carousel-item > img { height: 842px;}
.carousel-inner-overlay { width: 100%; transform: translate(0%, -100%) !important; height: 356px !important; background: rgba(255,255,255,0.75); position: absolute;}

.carousel-inside .carousel-item { height: 579px;}
.carousel-inside .carousel-item > img { height: 579px; left:0!important; right:0!important;}
.carousel-inside .carousel-caption { position: relative!important; top:450px; left: 0; width: 100%; }

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
