/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Raleway', Arial,Verdana,sans-serif; padding-bottom: 0; color:#000; font-weight: 300; font-size: 22px;
   margin-bottom: 120px; /* Margin bottom to match footer height */
}
main {/*padding-top: 127px;*/}

a, a:active, a:visited {text-decoration: none!important;}	

.blog-masthead a, .blog-masthead a:active, .blog-masthead a:visited {text-decoration:none; color:#1e305f; font-weight: 500;}
.blog-masthead a:hover {color:#000;}

.blog-masthead img { -ms-interpolation-mode: bicubic; border: none; max-width: 100%; height: auto!important; }
.blog-masthead a img { border: none;}

.blog-masthead p { color: #000; font-size: 22px; font-weight: 300;}
.blog-masthead h1, .carousel-caption h1 {font-size:68px; color:#000; font-family: 'Dawning of a New Day', cursive; height:80px;
    background: url(../../images/site/highlighter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;}

.blog-masthead h2 { color: #1e305f; font-weight: 600; font-size: 30px; line-height: 150%; padding: 5px 0 5px 0; text-transform:uppercase;}
.blog-masthead h3 { color: #1e305f; font-weight: 600; font-size: 24px; line-height: 110%; padding: 5px 0 5px 0; }
.blog-masthead h4 { color: #056ab2; font-size:24px; line-height: 110%; padding: 5px 0px 5px 0px; font-weight: 500; text-transform:uppercase;}
.blog-masthead h5 { color: #056ab2; font-weight: 500; font-size: 24px; line-height: 110%; padding: 5px 0 5px 0; }
.blog-masthead hr { border-top: 1px solid #1e305f;}

.blog-masthead .disclaimer {padding:10px 0;}
.blog-masthead .disclaimer, .blog-masthead .disclaimer p, .blog-masthead .disclaimer ul li, .blog-masthead .disclaimer ol li { font-size: 12px!important; color:#8aa6b5!important;}

.blog-masthead ul {padding-left: 15px;}
.blog-masthead ul li {padding-left: 16px; margin-bottom: 0; font-size: 22px; list-style-type: none;}
.blog-masthead ul li a {font-size: 22px}

.blog-masthead ul li::before {
    content: ">";   
    position: relative;    
    color: #fea303;
    font-size: 24px;
    margin-top: 0px;
    display: block;
    font-weight: 900;
	left: -25px;    
	top: 30px;
}

.blog-masthead ol li { color:#000; padding-left: 16px; margin-bottom: 10px; font-size: 22px; font-weight: 500; line-height: 150%;}
.blog-masthead ol li ul {margin-top:10px;}
.blog-masthead ol li ul li {list-style-type:inherit;}
.blog-masthead ol li ul li::before {content:"";}
.blog-masthead ol li p {margin-top:10px;}

.blog-masthead blockquote {
    color: #1e305f;
    font-size: 22px;
    font-weight: 600;
    padding: 0;	
	border-left:2px solid #1e305f;	
}
	
.blog-masthead blockquote p {
    color: #1e305f;
    font-size: 22px;
	padding-left: 30px;
    font-weight: 600;
}

.blog-masthead {min-height:500px; padding-bottom: 40px;}
.blog-post {padding: 0px 0 0px 0;}

.blog-masthead .cta { display:block; -webkit-box-shadow: 1px 0px 15px -1px #999999;  box-shadow: 1px 0px 15px -1px #999999; padding:30px 10px 30px 50px; margin: 30px 0; font-size:24px; font-weight: 600; color:#1e305f; text-decoration: underline!important;}
.blog-masthead .cta:before { content: url(../../images/site/arrow.png); position: relative; z-index: 1; padding-right: 10px;}
.blog-masthead .cta:hover {color:#fff; background: #0c1525; text-decoration: none!important;}
.blog-masthead .cta:hover:before { content: url(../../images/site/arrow-white.png);}

/* HTML Code Blooc for Style Guide page */
.code-block {padding: 10px 20px; background:#F7F5F5; font-size: 12px; margin-bottom: 60px; margin-top: 10px;}
.code-block h2 {color:#000!important; margin:0!important; padding:0!important; font-size: 15px!important;}

/* Lead Magnet */
.lead-magnet {background: #e7e8e8; border-radius: 20px; padding: 5%; width:100%; display: inline-block; font-size: 22px;}
.lead-magnet .lm-img {width: 30%; float:left;}
.lead-magnet .lm-txt {width: 70%; float:left; padding:0 0 0 10px;}

.lead-magnet .lm-img img {width:100%;}
.lead-magnet .lm-h1 {font-family: 'Dawning of a New Day', cursive; font-size: 36px; padding-bottom: 10px;}
.lead-magnet .lm-h1 div {
    background: url(../../images/site/highlighter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.lead-magnet .lm-h2 { padding-bottom: 10px;}
.lead-magnet .lm-h2 div {display:inline-block; color: #fea303; font-weight:600;}

.lead-magnet .lm-a {display: inline-block; background-color:#fea303; padding: 10px 30px; border-radius: 5px; color:#fff!important; font-size:18px; text-transform: uppercase; font-weight: 600;}
.lead-magnet .lm-a:hover {background-color: #000; color:#fff!important;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; text-align: center; margin: auto;}

/**************************
NAVBAR
**************************/
.navbar-custom {height: 127px; padding:0;
background: rgb(12,21,37);
background: linear-gradient(180deg, rgba(12,21,37,1.00), rgba(12,21,37,0.0));
}
.navbar-collapse {margin-top:40px;}

.hamburger {padding:0!important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#fff!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#0c1525!important; font-weight: 600!important;}

button:focus {outline: none;}

/**************************
AFFIX
**************************/
.affix {height: 70px; /*-webkit-box-shadow: 0 8px 6px -6px #999; -moz-box-shadow: 0 8px 6px -6px #999; box-shadow: 0 8px 6px -6px #999;*/}
.affix .navbar-logo img {width:50%;}	
.affix .navbar-collapse {margin-top:25px;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0 10px;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0 10px;}
.navbar-members a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-members a:hover {color: rgba(255,255,255,1);}

/**************************
SOCIAL TAB
**************************/
.social-tab { background: #e7e8e8; position: fixed; top: 40vh; right:0; z-index: 2000; border-top-left-radius: 30px; border-bottom-left-radius: 30px; padding: 15px 0;
	-webkit-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.30); 
	box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.30);
}
.social-tab div {text-align: center; padding: 20px 15px 20px 20px;}
.social-tab div a {color:#000;}
.social-tab div a:hover {color:#1e2f5f;}
.social-tab div a i {font-size: 30px;}

.social-tab-inside {top: 17%;}

/**************************
CAROUSEL TABS
**************************/
.carousel-tabs {position:absolute; bottom: 0; left:10%; z-index: 2000; display: flex; align-items: flex-end;}
.carousel-tabs {position:absolute; bottom: 0; z-index: 2000; width: 44%;}
.carousel-tab {text-align: center; color:#000; font-weight: 500; border-top-left-radius: 30px; border-top-right-radius: 30px; padding: 20px 30px; margin: 0;
	-webkit-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.20); 
	box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.20);	
}
.carousel-tab1 {background-color:#e7e8e8; margin-right:5%;}
.carousel-tab2 {background-color: #0c1525; background-image: linear-gradient(#0c1525, #0e2755); color:#fff; }
.carousel-tab div:nth-child(1) {font-size:39px;}
.carousel-tab div:nth-child(2) {font-size:20px; font-weight: 800;}
.carousel-tab div:nth-child(3) {font-size:18px; display:none; visibility: hidden; height: 0;}

.carousel-tab-a1, .carousel-tab-a2 {flex:50%;}
.carousel-tab-a1:hover >.carousel-tab div:nth-child(3) {display:block; visibility: visible; height: auto;}
.carousel-tab-a2:hover > .carousel-tab div:nth-child(3) {display:block; visibility: visible; height: auto;}
.carousel-tab-a1:hover >.carousel-tab div:nth-child(1) {content:">"}
/**************************
HOME PAGE
**************************/
.home-intro {padding: 10px 30px 20px 30px; text-align: center;}

.btn-submit {font-size:22px; font-weight: 600!important; text-transform: uppercase; color: #fff!important; text-align: center;  padding:20px 30px; border:0.5px solid #0c1525;  border-radius: 40px; display: inline-block; width:auto; min-width: 300px;
	border-color: #0c1525;
    background-color: #0c1525;
    background-image: linear-gradient(#0c1525, #0e2755);
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);	
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
 
.btn-submit:hover {background: #000;}

/**************************
HOME PAGE - PANEL - SEO
**************************/
.index-panel-seo {background-color:#e7e8e8;}
.index-panel-seo .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-seo-txt {width:80%; text-align: left; margin-left:5%;}
.index-panel-seo-img img {width:100%;}
.index-panel-seo h1 {font-size:72px; color:#000; font-family: 'Dawning of a New Day', cursive; height:110px;
    background: url(../../images/site/highlighter-grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
}
.index-panel-seo p {font-size:22px; font-weight: 500;}
.index-panel-seo-btn {margin-top:80px;}
.index-panel-seo .btn-submit {width:90%; padding:20px 30px; font-size:22px; color:#000; border-radius: 40px; font-weight:600;}
.index-panel-seo .btn-submit:hover {background: #000; color:#fff!important;}

/**************************
HOME PAGE - PANEL - PARTNERS
**************************/
.index-panel-partners {background-color: #0c1525; background-image: linear-gradient(#0c1525, #056ab2);}
.index-panel-partners .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-partners-txt {width:80%; text-align: center; margin:auto;}
.index-panel-partners-img img {width:100%;}
.index-panel-partners h2 {font-size:72px; color:#000; font-family: 'Dawning of a New Day', cursive; height:110px;
    background: url(../../images/site/highlighter-navy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
}
.index-panel-partners p {font-size:22px; font-weight: 500; color:#fff;}
.index-panel-partners-btn {margin-top:80px;}
.index-panel-partners .btn-submit {width:90%; padding:20px 30px; font-size:22px; color:#fff; border-radius: 40px; font-weight:600; border: none;}
.index-panel-partners .btn-submit:hover {background: #000;}

.carousel-item {background:none; height:auto;}

/**************************
HOME PAGE - PANEL - NEWSLETTER
**************************/
.index-panel-newsletter {}
.index-panel-newsletter .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-newsletter-txt {width:80%; text-align: center; margin:auto;}
.index-panel-newsletter-img img {width:100%;}
.index-panel-newsletter-img-resp {display: none; visibility: hidden; height: 0;}
.index-panel-newsletter h2 {font-size:72px; color:#000; font-family: 'Dawning of a New Day', cursive; height:110px;
    background: url(../../images/site/highlighter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
}
.index-panel-newsletter p {font-size:22px; font-weight: 500;}
.index-panel-newsletter-btn {margin-top:80px;}
.index-panel-newsletter .btn-submit {width:90%; padding:20px 30px; font-size:22px; color:#fff; border-radius: 40px; font-weight:600; border-color:#0c1525; background-color: #0c1525; background-image: linear-gradient(#0c1525, #0e2755);}
.index-panel-newsletter .btn-submit:hover {background: #000;}

/**************************
HOME PAGE - PANEL - CONTACT
**************************/
.index-panel-contact {background:#e7e8e8; padding:  0 0 40px 0;}
.index-panel-contact-shadow {background-image: url(../../images/site/shadow.png); background-repeat: repeat; background-size: auto; height:40px;}
.index-panel-contact .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-contact-txt {width:100%; text-align: center; margin: auto;}
.index-panel-contact-img img {width:100%;}
.index-panel-contact h2 {font-size:72px; color:#000; font-family: 'Dawning of a New Day', cursive; height:110px; text-align: center;
    background: url(../../images/site/highlighter-grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
}
.index-panel-contact p {text-align: center;}

.index-panel-contact-btn {margin-top:0px;}
.index-panel-contact .btn-submit {width:50%; padding:20px 30px; font-size:22px; color:#fff; border-radius: 40px; font-weight:600; border-color:#0c1525; background-color: #0c1525; background-image: linear-gradient(#0c1525, #0e2755);}
.index-panel-contact .btn-submit:hover {background: #000!important;}

.index-panel-contact .g-recaptcha-container div div {text-align:center; margin:auto;}

/**************************
PANEL - INSIDE
**************************/
.panel-inside {background:#e7e8e8; padding:  0 0 40px 0;}
.panel-inside-shadow {background-image: url(../../images/site/shadow.png); background-repeat: repeat; background-size: auto; height:40px;}
.panel-inside-txt {text-align:center;}
.panel-inside-txt h2 {font-size:72px; font-weight:500; text-transform: inherit; color:#000; font-family: 'Dawning of a New Day', cursive; height:110px; text-align: center;
    background: url(../../images/site/highlighter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: inline-block;
}
.panel-inside-txt .btn-submit {margin-top: 20px;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module { -webkit-box-shadow: 1px 0px 15px -1px #999999;  box-shadow: 1px 0px 15px -1px #999999; padding: 30px;}
.sidebar-module h4 {font-size:22px; font-weight: 600;  color:#231f20; }
.sidebar-module ol li {border: none!important; padding:0;}
.sidebar-module a {color: #000!important; font-size:22px; font-weight: 500; text-decoration: none; /*text-transform: uppercase;*/}
.sidebar-module a:hover {background-color: #fea303;}
.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item.active{background: none;}
.list-group-item.active > a{ background-color: #fea303;}
.dropdown-item.active{  border-color: #5a5a5a; color:#000!important; font-weight: 600!important; }

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 2;
}

.card-img-top{
    height:200px;
    width:100%;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}


/**************************
CONTACT FORM
**************************/
#contact-form {width:70%; margin:auto;}
#contact-form label {display:none!important;}
#contact-form input, #contact-form textarea {padding: 20px; border: 0.5px solid #000; border-radius: 0; margin: 0; color:#000; font-size:17px; background: #e7e8e8;}
#contact-form textarea {padding: 10px 20px;}
#contact-form input::placeholder, #contact-form textarea::placeholder {color:#000; font-size:17px;}
#contact-form .btn-submit {margin-top:30px;}
.fv-plugins-bootstrap .has-danger .fv-plugins-icon {display:none!important;}
.fv-plugins-bootstrap .fv-help-block {font-size: 16px!important;}
#contact-form  .rendered-form .form-control:focus {box-shadow: inset 0 1px 1px rgba(0,0,0,0.20), 0 0 8px rgba(0,0,0,0.20)}

/*#contact-form .fb-text:nth-child(1), #contact-form .fb-text:nth-child(4) {width:49%; float:left;}
#contact-form .fb-text:nth-child(2), #contact-form .fb-text:nth-child(5) {width:49%; float:right;}*/

.contact-map iframe {width:100%; height:250px; padding-top:20px;}
.contact-details {border-top: 1px solid #000; padding-top:20px; margin-top:40px;}
.contact-details h2 {font-size:24px; margin-bottom: 0; padding-bottom: 0;}
.contact-details span {color:#1e305f; font-weight: 600;}

.contact-page {width:100%!important;}
.contact-page input, .contact-page textarea {background:#fff!important;}

#newsletter-form {width:70%;}
#newsletter-form input {padding: 15px; border: 0.5px solid #000; border-radius: 0; margin: 0; color:#000; font-size:17px; background: #fff; width: 100%; margin: 10px 0;}
#newsletter-form button {margin:10px 0;}

#lead-magnet-form {width:70%;}
#lead-magnet-form input {padding: 15px; border: 0.5px solid #000; border-radius: 0; margin: 0; color:#000; font-size:17px; background: #fff; width: 100%; margin: 10px 0; max-width: 60%;}
#lead-magnet-form button {margin:10px 0;}
	
/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here (for sticky footer) */ 
  text-align: center;
}

#footer-social {color: #A4A49C; margin: 0 auto; padding: 0; text-align: right; font-size: 13px; position: absolute; top:0; right:30px;}
#footer-social div {padding: 15px 0; text-align: center;}
#footer-social i {font-size:23px;}
#footer-social a, #footer-txt a:active {color: #A4A49C; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000!important; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; padding: 30px 0 10px 0; text-align: center; font-size: 14px; font-weight: 300;}
#footer-txt div {display: inline-block;}
#footer-txt a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 14px; padding: 0 7px; font-weight: 400;}
#footer-txt a:hover{ color: rgba(219,172,36,0.70)!important; text-decoration: none;}

.footerContainer {padding: 20px 0;  background-color: #0c1525; background-image: linear-gradient(#0c1525, #0e2755);}

#footer-menu {padding:40px 0; position: relative; color:#fff; font-size:17px;}
#footer-menu h2 {color:rgba(219,172,36,0.70); font-size:17px; font-weight: 800;}
#footer-menu ul { columns: 2; padding-left:0;}
#footer-menu ul li::before {display: none!important}
#footer-menu ul li {list-style-type: none;}
#footer-menu ul .dropdown-toggle::after {display: none!important;}
#footer-menu ul li a {color:#fff; font-size:15px; text-transform: uppercase; text-align: left; font-weight: 500;}
#footer-menu ul li a:hover {color:#666766!important;}

.footer-logo {max-width:70%;}
.footer-review {max-width:130px;}
.footer-address, .footer-contact {text-align: left; display: inline-block}
.footer-contact {color:rgba(219,172,36,0.70);}
.footer-contact span {color:#fff;}
.footer-contact a {color:#fff;}
.footer-contact a:hover {color:rgba(219,172,36,0.70);}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {margin-top: 20px; padding: 20px 0; clear: both;}
#pagination ul {padding:0;}
#pagination  li {padding: 0 5px; font-size: 16px;}
#pagination ul li::before {content: "";}
#pagination .page-item .page-link {color:#6c757d; font-size:16px; border-radius: 10px;}
#pagination .page-item.active .page-link {background-color:#fea303!important; border-color: #dee2e6; color:#000!important;}
.page-link:hover {background-color:rgba(254,163,3,0.30);}
.page-link:focus {box-shadow:none!important};

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 19px!important; font-weight: 400;  padding: 0; text-transform: uppercase; }
.btn-back a, .btn-back a:active, .btn-back a:visited {text-decoration: none; font-weight: 600;}	
.btn-back a:hover {color: #000!important; background-color: #fea303;}

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background: #e7e8e8;  
  color: #000; 
  cursor: pointer;
  padding: 10px; 
  border-radius: 40%;
  font-size: 18px; 
  -webkit-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.30); 
  box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.30);	
}

#btnTopPage:hover {color:#e7e8e8; background: #000;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 0 0 40px 0; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

.news-item img{ padding-left: 10px; padding-bottom: 10px;}

.panel-news-item {width: 100%; /*padding: 0 0 40px 0; */}
.panel-news-item .div-img {width:100%;}
.panel-news-item img {width:100%;}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#f6862d; font-weight: 600; text-transform: uppercase; }
.panel-news-item-title h2 {color:#1e305f!important; font-weight: 600!important; padding: 10px 0 5px 0!important; font-size: 20px!important; margin-top:0!important; }
.panel-news-item-shortdesc {color:#72a1b2; font-weight: 300; padding-bottom: 10px; }
.panel-news-item-readmore {color:#284863; font-weight: 600; text-transform: uppercase; display: inline-block; font-size:19px;}
.panel-news-item-shortdesc p { }
.panel-news-item p {margin-bottom: 0px; font-size:20px;}

.panel-news-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-news-item a:hover > div {color:#000!important;}
.panel-news-item a:hover > .panel-news-item-readmore {background-color: #fea303;}

.panel-news-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.h1-news {font-size:40px!important;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  margin: 0 0 60px 0; overflow: hidden; border: 1px solid; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding: 1.25rem;}
.project-list-item-txt h2 {font-size:22px;}
.project-list-item-txt p {font-size:22px;}
.project-list-item-txt .readmore {text-transform: uppercase; font-weight:600; display:inline-block; font-size:19px;} 
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0; padding: 1.25rem;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.projects-list-readmore:hover > .readmore {background-color: #fea303!important;}

.projects-list-box a:hover > .project-list-item .card .project-list-item-img img {overflow:hidden; opacity:0.8;}
.projects-list-box a:hover > .project-list-item .project-list-item-txt .readmore {background-color: #fea303;}

.projects-list-box a:hover > .project-list-item .card .project-list-item-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
LINKS MODULE
**************************/
.panel-links-item {background-color: #0c1525; background-image: linear-gradient(#0c1525, #0e2755); margin: 20px 0; padding: 15px 15px 20px 15px;  position:relative;}
.panel-links-item .div-img {max-height: 220px;}
.panel-links-item-1 {margin-top:0; margin-bottom: 60px; padding-bottom: 0;}
.panel-links-item-2 {margin-top:0; margin-bottom: 60px;}
.panel-links-item h2 {font-size:24px; padding:0; margin:0; color:#fff; position:relative;}
.panel-links-item hr { margin-top: 10px; margin-bottom: 10px; color:#fff;}
.panel-links-item p {color:#fff;}
.panel-links-item span {position:absolute; top:-130px;}

/**************************
TEAM MODULE
**************************/
.team-item .div-img img {max-width: 250px;}
.team-item .div-img-grants {text-align: center; margin: auto;}	
.team-item .div-img-grants img {width:auto; max-width: auto; max-height: 109px;}	
.team-item .team-txt-grants {text-align: center; margin: auto;}	

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item-img img {width:100%;}

.team-txt {padding: 5px 0 30px 0;}
.team-name-band-name {color:#1e305f; font-weight: 700; line-height: 150%; font-size: 18px; text-transform: uppercase;}
.team-name-band-position {color:#8aa6b6; line-height: 150%; font-size: 18px; font-weight: 600;}
.team-name-band-qualification {color:#000; line-height: 150%; font-size: 12px;}

.team-a, .team-a img,.div-img  {overflow:hidden; margin-top: 10px; text-align: center;}
.team-a:hover .div-img img {color:#000!important;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	
}
.div-img img {width:100%;}

.team-a:hover  {overflow:hidden; opacity:0.8;}
.team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title {color: #1e305f!important;}

.modal-content .team-name-band-name{
    font-size: 24px;
}

.team-profile .modal-content{
    padding: 15px;
}

.modal-body-txt img{
    /*max-width: 200px;*/
    margin-right:20px;
}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { */
@media screen and (max-width: 480px) {
	.navbar-logo {max-width:40%;}
	.navbar-logo img {width:100%; max-width: 100%!important;}
	.affix .navbar-logo img {width:100%;}
	.navbar-custom {height:70px;}
	main {/*padding-top: 70px;*/}
	.navbar-nav { padding-top: 70px!important;}

    .lead-magnet .lm-a, .blog-masthead .cta, .blog-masthead h3,.blog-masthead h4,.blog-masthead h5, .index-panel-seo p, .index-panel-partners p, .index-panel-newsletter p, .index-panel-contact p, .blog-masthead p, .sidebar-module h4, .sidebar-module a, .panel-inside-txt p, .blog-masthead ul li, .blog-masthead blockquote, .blog-masthead blockquote p, .lead-magnet {
        font-size: 14px!important;
    }

	.social-tab { top: 22%!important;}
	.social-tab div { padding: 7px!important;}
	.social-tab div a i { font-size: 20px!important;}
	
	#btnTopPage {right:20px;}
	.navbar-collapse {background: rgba(255,255,255,0.95); padding-bottom:5px; margin-top: 5px;
		-webkit-box-shadow: 0 8px 6px -6px #999;
		-moz-box-shadow: 0 8px 6px -6px #999;
		box-shadow: 0 8px 6px -6px #999;
	}
	.affix .navbar-collapse {padding-bottom: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.carousel-inner .carousel-item, .carousel-inner .carousel-item > img {height:600px!important;}
	.carousel-tabs {width:100%!important; left:0!important;}
	.carousel-tab { /*width: 45%;*/ margin: 0 2.5%;}
	
	.carousel-caption-div-header {font-size:42px!important; height:100px!important;}
	
	.blog-masthead h1 {font-size:24px;}
	.blog-masthead p,
	.blog-masthead blockquote p,
	.blog-masthead ul li,
	.blog-masthead ul li a
		{font-size:22px;}
	
	.blog-masthead h2 {font-size: 16px!important;}
	.blog-masthead blockquote {border-left:0;}
	.blog-masthead blockquote p {padding-left: 0;}
	
	.carousel-inner .carousel-item {height:150px;}
	.carousel-inner .carousel-item > img {height:150px; left:0!important;}
	.carousel-inside .carousel-item {height:140px!important;}
	.carousel-inside .carousel-item > img {height:150px!important;}
	.carousel-tab div:nth-child(2), 
	.carousel-tab div:nth-child(3)
		{font-size:14px!important;}
	.carousel-inside .carousel-caption { top: 105px!important;}
	
	.index-panel-seo h1, 
	.index-panel-partners h2, 
	.index-panel-newsletter h2, 
	.index-panel-contact h2, 
	.blog-masthead h1, 
	.carousel-caption h1, 
	.panel-inside-txt h2
		{font-size:25px!important; height: 35px!important;}
	
	.sidebar-module h4,
	.sidebar-module a
		{font-size:20px; margin:0!important;}
	.list-group {margin-top:0!important;}
	.sidebar-module ol li {margin-bottom:0!important;}
	
	.index-panel-seo-txt {width:95%;}
	.index-panel-seo p,
	.index-panel-partners p,
	.index-panel-newsletter p,
	.index-panel-contact p,
	.index-panel-seo .btn-submit,
	.index-panel-partners .btn-submit,
	.index-panel-newsletter .btn-submit,
	.index-panel-contact .btn-submit
		{font-size:19px!important;}
		
	.index-panel-newsletter h3 {font-size:16px!important;}
	.newsletter input {padding:10px; font-size:16px!important;}
	.newsletter .btn-submit {margin-top:10px;}
	
	.footer-logo {max-width:200px;}
	.footer-review {max-width:80px;}
	#footer-menu ul {width:100%; columns: 1;}
	#footer-menu ul li {padding-left:0;}
	#footer-txt div {display: block; padding: .5rem 1rem;}
	#footer-txt div span {display:none; visibility: hidden; height: 0;}
	.footerContainer {padding:0;}
	
	.btn-back {padding: 7px 0 0 0;}
	.btn-submit,
	.index-panel-seo .btn-submit, 
	.index-panel-partners .btn-submit, 
	.index-panel-newsletter .btn-submit, 
	.index-panel-contact .btn-submit
		{padding:10px 60px;}

    .lead-magnet .lm-h1 {font-size:30px;}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
}

@media (max-width: 1550px) {
	.navbar-dark .navbar-nav .nav-link {font-size:18px;}
	#navbarCollapse .dropdown-item {font-size:18px;}
	.navbar-logo { padding: 0;}
	.navbar-logo img {width:80%;}
	
	.btco-hover-menu a, .navbar > li > a {padding:10px;}
	
	.carousel-caption {width:45%;}
	.carousel-tabs {width:45%;}
	.carousel-caption-div-header {font-size:90px; height:200px;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
	.card-columns { column-count: 1;}
	.navbar-custom {padding:5px 0!important; z-index:3000;}
	.navbar-logo {padding:0!important;}
	.navbar-logo img {max-width:60%;}
	.footer-logo { max-width: 60%!important;}
	.blog-main { width: 100%; padding: 10px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex: none!important; max-width: 100%; margin-top: 0px; }
	.blog-sidebar { width: 100%!important; max-width: 100%!important; padding: 10px 0!important; margin: 0; background: none; -webkit-order: 2; order: 2; flex: auto;}
	.sidebar-module  { padding: 10px;
		-webkit-box-shadow: 0px -4px 6px 1px rgba(153,153,153,0.30); 
		box-shadow: 0px -4px 6px 1px rgba(153,153,153,0.30);
	}
	
	.navbar-collapse { background-color: #0c1525; background-image: linear-gradient(#0c1525, #056ab2);     top: 0; position: absolute; left: 0; right: 0; margin-top: 0;}
	.custom-toggler {z-index:1; margin-right: 10px!important;}
	.navbar-logo {z-index:1;}
	.navbar-nav {padding-top: 130px;}
	.affix .navbar-collapse {margin-top:0;}
	.affix .navbar-nav {padding-top: 90px;}
	
	.carousel-caption {width:80%; left:5%;}
	.carousel-caption-div-header { height:150px; font-size: 65px;}
	.carousel-caption-div {top:25%; background:none!important;}
	.carousel-caption-div p {font-size:19px!important;}
	.carousel-inner .carousel-item {height:550px;}
	.carousel-inner .carousel-item > img {height:550px;}
	.carousel-inside .carousel-item {height:170px;}
	.carousel-inside .carousel-item > img {height:200px;}	
	.carousel-inside .carousel-caption {top:135px;}
	.carousel-item > img {left:0;}	
		
	.social-tab {top:20%;}	
	.social-tab div {padding:15px 7px 15px 10px;}
	.social-tab div a i {font-size:25px;}
	
	.carousel-tabs {left:5%; width:91%;}
	.carousel-tab {/*width:45%;*/ padding:10px;}
	.carousel-tab div{font-size:16px!important;}
	
	.index-panel-seo h1,
	.index-panel-partners h2,
	.index-panel-newsletter h2,
	.index-panel-contact h2,
	.blog-masthead h1, .carousel-caption h1,
	.panel-inside-txt h2
		{font-size:30px; height: 30px;}
	.blog-masthead h2 {font-size:30px;}
	
	.blog-masthead .cta {padding:20px; font-size:20px; text-align: center}
	.blog-masthead .cta:before {padding-right: 0; width: 100%; display: inline-block;}
	.index-panel-seo-btn {margin-top:0;}
	.index-panel-seo .btn-submit {font-size:20px; width:100%;}
		
	.index-panel-partners-txt {width:90%!important; padding: 40px 0; text-align: left;}
	.index-panel-partners-btn {margin-top:20px;}
	.index-panel-partners .btn-submit {width:100%;}
	
	.index-panel-newsletter-txt {width:90%; text-align:left; padding: 40px 0;}
	.index-panel-newsletter-img {display:none; visibility: hidden; height: 0;}
	.index-panel-newsletter-img-resp {display: block; visibility: visible; height: auto;}
	.index-panel-newsletter-img-resp img {width:100%;}
	.index-panel-newsletter-btn {margin-top:20px;}
	.index-panel-newsletter .btn-submit {width:100%;}
	
	.index-panel-contact-txt {width:90%; text-align:left; /*padding: 40px 0;*/}
	.index-panel-contact p {text-align:left;}
	.index-panel-contact .btn-submit {width:100%; margin-top:20px;}
	
	#contact-form {width:100%;}
	#contact-form .fb-text {width:100%!important;}
	
	.project-list-item-txt, .project-list-item-img {float:none; width:100%;}
	.links-list-item-txt, .links-list-item-img {float:none; width:100%;}
	
	#footer-txt {padding:0;}
	#footer-menu ul {padding:20px 0 0 0; width:60%; margin: auto;}
	#footer-menu ul li a {text-align: center;}	
	#footer-social {position: relative; text-align: center; right:0; margin: 40px 0 0 0;}
	#footer-social div {display: inline-block; padding:0 20px;}
	.footer-logo {padding-bottom:30px;}	
	.footer-address, .footer-contact {display:block; text-align: center; padding: 0 0 30px 0;}
	#footer-txt div {padding: 7px 0;}

	.modal-lg {max-width:100%!important;}
	
	.news-list-item { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
	.news-list-item-txt, .news-item-txt {float:none; width:100%; -webkit-order: 2; order: 2; }
	.news-list-item-img, .news-item-img {float:none; width:100%; -webkit-order: 1; order: 1; }
	.news-list-item-img img, .news-item-img img {width:100%; padding-bottom: 20px;}
	
	.project-list-item { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
	.project-list-item-txt, .project-item-txt {float:none; width:100%; -webkit-order: 2; order: 2; padding-top:0;}
	.project-list-item-img, .project-item-img {float:none; width:100%; -webkit-order: 1; order: 1; margin:0; padding:0; }
	.project-list-item-img img, .project-item-img img {width:100%; padding-bottom: 20px;}
	
	.links-list-item { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
	.links-list-item-txt {float:none; width:100%; -webkit-order: 2; order: 2; }
	.links-list-item-img {float:none; width:100%; -webkit-order: 1; order: 1; margin:0;}
	.links-list-item-img img {width:100%; padding-bottom: 20px;}


    .lead-magnet {text-align:center;}
    .lead-magnet .lm-img {width: 100%; float:none;}
    .lead-magnet .lm-img img {width:50%;}
    .lead-magnet .lm-txt {width: 100%; float:none; padding:0;}
	#lead-magnet-form {width:100%;}
	#lead-magnet-form input {max-width: 100%;}
	
	.btn-submit {min-width:100%;}
}

/* Other devices */

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
}

/* Large devices (desktops, less than 1400px) */
/* Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width : 700px) {
    .carousel-inner .carousel-item,
    .carousel-inner .carousel-item > img {
        height: 650px !important;
    }
    .carousel-inside .carousel-item,
    .carousel-inside .carousel-item > img {
        height: 470px !important;
    }
	.carousel-inside .carousel-caption {top:350px;}
}
@media (max-width: 1399.98px) {
	.carousel-item > img {right:0;}
	.carousel-caption, .carousel-tabs {left:5%;}
	.carousel-caption-div {top:40%; /*31%;*/}
	
	.navbar-dark .navbar-nav .nav-link, #navbarCollapse .dropdown-item {font-size:16px;}
	.navbar-logo img {width:100%; max-width: 250px;}	
	.footer-logo { max-width: 70%;}
	.index-panel-seo h1,
	.index-panel-partners h2,
	.index-panel-newsletter h2,
	.index-panel-contact h2
		{font-size:53px; height: 80px;}
	
	.index-panel-seo p,
	.index-panel-partners p,
	.index-panel-newsletter p,
	.index-panel-contact p,
	.blog-masthead p,
	.sidebar-module h4,
	.sidebar-module a,
	.panel-inside-txt p,
	.blog-masthead ul li,
	.blog-masthead blockquote,
	.blog-masthead blockquote p,
	.lead-magnet
		{font-size:19px;}
	
	.index-panel-seo .btn-submit,
	.index-panel-partners .btn-submit,
	.index-panel-newsletter .btn-submit,
	#contact-form .btn-submit
		{font-size:19px; padding: 10px;}
	
	.index-panel-partners-txt {width:70%}
	
	.index-panel-seo-btn,
	.index-panel-newsletter-btn,
	.index-panel-partners-btn,
	#contact-form .btn-submit
		{margin-top:20px;}
	
	#contact-form {width:100%;}
	
	.blog-masthead ol {margin-top:0;}
	.sidebar-module h4, .blog-masthead ol li {margin-bottom:0;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For ipad portrait layouts only */	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.navbar-logo img {width: 85%;}
	.navbar-logo {width:25%;}
	.navbar-collapse { margin-top: 51px;}
}

@media (max-width: 1700px) {
	.carousel-caption, .carousel-tabs {left:5%;}
}

@media (max-width: 1540px) { 			
}
	
@media (max-width: 1280px) { 
	/* For Macbooks */		
	.index-panel-seo-txt {width:90%; padding-bottom: 40px; padding-top: 40px;}
	.index-panel-seo h1, .index-panel-seo p {margin-bottom:30px;}		
	.carousel-caption-div-header {font-size:64px; height:170px;}
	.carousel-caption p {font-size:19px;}
	.carousel-tab div:nth-child(2) {font-size:16px;}
}


@media only screen and (max-width: 320px) {
	/* For iphone 5 */
}
