/**************************
POPUP
**************************/
#modal-popup {z-index:3000; background:rgba(0,0,0,0.80)}
#modal-popup .modal-dialog {
    -webkit-box-shadow: -1px 0px 6px 1px rgb(0 0 0 / 30%);
    box-shadow: -1px 0px 6px 1px rgb(0 0 0 / 30%);
}
#modal-popup .modal-dialog {max-width: none; right:0; position:fixed;}
#modal-popup .modal-body {padding:0;margin-bottom: -20px;}
#modal-popup .modal-content {background: none;}
#modal-popup .modal-content {background: #e7e8e8;}

.modal-center .modal-dialog {width:30%; left:0; right:0; top: 30%; transform: translate(-50%, -50%);}
.modal-top-left .modal-dialog {width:30%; position:fixed; top:130px; left:0; margin:0;}
.modal-top-right .modal-dialog {width:30%; position:fixed; top:130px; right:0; margin:0;}
.modal-bottom-left .modal-dialog {width:30%; position:fixed; bottom:10px; left:0; margin:0;}
.modal-bottom-right .modal-dialog {width:30%; position:fixed; bottom:10px; right:0; margin:0;}

#modal-popup .modal-btn {position:relative; top:-25px; z-index: 1;}
.modal-top-right .modal-btn, .modal-bottom-right .modal-btn {left:-25px;}
.modal-top-left .modal-btn, .modal-bottom-left .modal-btn, .modal-center .modal-btn {right:-20px; text-align: right;}

#modal-popup .lead-magnet  {margin:auto; text-align: center; padding:0; position: relative; top: -50px; margin-bottom:-50px;}
#modal-popup .lead-magnet-col {display:inline-block; width:100%; clear:both; margin-bottom: -40px;}
#modal-popup .lead-magnet-col-img {float:left; width:50%; position: relative; top: -50px;}
#modal-popup .lead-magnet-col-txt {float:left; width:50%; padding-top:10px; text-align: left;}
#modal-popup .lead-magnet-col-img img {width:100%;}
#modal-popup .lead-magnet-txt {width:100%;}

/**************************
RESPONSIVE
**************************/
@media (max-width: 1600px) {
    #modal-popup .modal-dialog {width:35%;}
}

@media (max-width: 1400px) {
    #modal-popup .modal-dialog {width:40%;}
}

@media (max-width: 1300px) {
    #modal-popup .modal-dialog {width:45%;}
}

@media (max-width: 1100px) {
    #modal-popup .modal-dialog {width:50%;}
}

@media (max-width: 991.98px) {
    #modal-popup .modal-dialog {width:60%;}
    #modal-popup .lead-magnet-col-img, #modal-popup .lead-magnet-col-txt {float:none; width:100%; margin-bottom: -50px;}
    #modal-popup .lead-magnet-col-img img {width:50%;}
    #modal-popup .lead-magnet-col-txt {padding-top:0; text-align: center;}
    #modal-popup .lead-magnet-col {margin-bottom: 0;}
    #modal-popup .lead-magnet-txt {margin-top:10px;}
}

@media (max-width: 700px) {
    #modal-popup .modal-dialog {width:96%;}
    #modal-popup .lead-magnet-col-img img {width:30%;}
    .modal-top-right .modal-btn, .modal-bottom-right .modal-btn {left:0;}
    .modal-top-left .modal-btn, .modal-bottom-left .modal-btn, .modal-center .modal-btn {right:0;}
    #modal-popup .lead-magnet .lm-h1 {font-size:29px;}
}

@media screen and (max-width: 480px) {
	#modal-popup .lead-magnet .lm-h1 { font-size: 30px;}
}